extends layout

block title
  title open-animation-sample

block body
  - var i = 0;
  - var sections = ['about', 'works', 'contact'];
  while i < 3
    section.section(class=`${sections[i]}`)
      .content.js-content
        - var j = 0;
        while j < 40
          p.content__text= sections[i]
          - j++
        span.content__close.js-close
      a.btn.js-btn(href="#") read more
    - i++

  svg#svg.svg
